<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Error Analysis</title>
    <!-- Custom fonts for this template-->
    <link href="../../../../platform/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../../../platform/css/sb-admin-2.css" rel="stylesheet">
    <!-- <script type="text/javascript" language="javascript" src="/Users/kouros/ML/AML/test_new_wrapper/tiny/ens/tests/gold1_predicted_error_analysis/info.json"></script>  -->

  
</head>

<body id="page-top">
   
    

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Users/kouros/ML/AML/full_experiment/platform/index.html">
                <div class="sidebar-brand-text mx-3">NLP analytic</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Error Analysis</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Error Analysis Toolbox
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Experiments:</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Reports version:</h6>
                        <a class="collapse-item" href="">12-22-20</a>
                        <a class="collapse-item" href="">12-23-20</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2"
                    aria-expanded="true" aria-controls="collapsePages2">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Tables:</span>
                </a>
                <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Reports version:</h6>
                        <a class="collapse-item" href="#descriptive">Descriptive Statistic</a>
                        <a class="collapse-item" href="">Crosstab Table</a>
                        <a class="collapse-item" href="">Word check Table</a>
                    </div>
                </div>
            </li>
 
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages3"
                    aria-expanded="true" aria-controls="collapsePages3">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Charts:</span>
                </a>
                <div id="collapsePages3" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Reports version:</h6>
                        <a class="collapse-item" href="#descriptive">most frequent words</a>
                        <a class="collapse-item" href=""> Frequent Words (Graphs)</a>
                        <a class="collapse-item" href="#coverage">Coverage / Confident </a>
                    </div>
                </div>
            </li>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                                Error Analysis
                        </div>
                    </form>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Experiment Name</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Accuracy </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><p id="accuracy">can't load json file</p> </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 76%" aria-valuenow="77" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Macro Average</div>
                                            
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><p id="macro">can't load json file</p> </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 64%" aria-valuenow="77" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Micro Average  </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><p id="micro">can't load json file</p> </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 72%" aria-valuenow="77" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Weighted Average </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><p id="weighted">can't load json file</p> </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 72%" aria-valuenow="77" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <script>
                            var model_data = 
                            {
                                "accuracy":82.4, 
                                "micro":81.22, 
                                "macro":73.4,
                                "weighted": 66.2
                            }
                            document.getElementById("macro").innerHTML = model_data.macro
                            document.getElementById("micro").innerHTML = model_data.micro
                            document.getElementById("accuracy").innerHTML = model_data.accuracy
                            document.getElementById("weighted").innerHTML = model_data.weighted
                        </script>
   

               
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                       

                       
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-8 mb-4">

                            <!-- OOOMG Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 id="descriptive" class="m-0 font-weight-bold text-primary">Descriptive Data</h6>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Frequency All</th>
                                                <th>Frequency Match</th>
                                                <th>Frequency Unmatch</th>
                                                <th>precision</th>
                                                <th>recall</th>
                                                <th>f1-score</th>
                                            </tr>
                                        </thead>
                                        <div id="para"></div>

                                    </table>
                                </div>
                            </div>
                            

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 id="coverage" class="m-0 font-weight-bold text-primary">Coverage vs Accuracy at Different Confident Thresholds
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <img class="card-img" src="plot_coverage_accuracy_confident_thresholds.png" width=100% alt="">
                                </div>
                            </div>


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Most Common Words in Each Category : Bars</h6>
                                </div>
                                <div    class="card-body" max_height=100px >
                                    <img class="card-img" src="most_common_words_per_predicted_class_bar_chart.png"  width=100% alt="">
                                </div>
                            </div>


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Kernel Density Estimate ( Distribution of observations )</h6>
                                </div>
                                <div class="card-body">
                                    <img class="card-img" src="kde_scatter_plot.png" width=100% alt="">
                                </div>
                            </div>



                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Most Common Words : Bar</h6>
                                </div>
                                <div class="card-body">
                                    <img class="card-img" src="most_common_words_entire_data_set_bar_chart.png" width=100% alt="">
                                </div>
                            </div>




                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Confident Histogram of Each Category</h6>
                                </div>
                                <div    class="card-body" max_height=100px >
                                    <img class="card-img" src="plot_confidence_hist_per_class.png"  width=100% alt="">
                                </div>
                            </div>


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Confident Histogram of Each Category
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <img class="card-img" src="plot_confidence_hist_TP_and_FN_per_class.png" width=100% alt="">
                                </div>
                            </div>



                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Most Common Words in Each Category : Graphs
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <img class="card-img" src="most_common_words_per_predicted_class_graph.png" width=100% alt="">
                                </div>
                            </div>




                






          

                           

                        </div>

                        <div class="col-lg-4 mb-4">



                             <!-- Pie Chart -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Categories Distribution</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Paid
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Will
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Wont
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> None
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Most Common Words : Graph</h6>
                                </div>
                                <div class="card-body">
                                    <img src="most_common_words_entire_data_set_graph.png" width=100% alt="">
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Symend 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>








